# Dependencies
node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# Build outputs
dist
build
.next
out

# Cache
.cache
.parcel-cache
.vite

# Misc
coverage
.DS_Store
*.log
.env
.env.local
.env.*.local

# IDE
.vscode
.idea
